.section.education
	a.title(name="education")
		h1 Education
	ul
		each course in education.tertiary
			li
				h3.title #{course.title}
				p
					span.academy #{course.academy}
					span.year #{course.graduationDate.getFullYear()}

	a.title(name="certifications")
		h1 Certifications

	.row
		each column in education.certifications.columns
			.col-md-6
				ul
					each course in column
						li
							h3.title #{course.title}
							p
								span.academy #{course.academy}
								span.year #{course.graduationDate.getFullYear()}