.section.education
	a.title(name="education")
		h1 Education
	ul
		each course in education.tertiary
			li
				h3.title #{course.title}
				p
					span.academy #{course.academy} 
					span.year #{course.graduationDate.getFullYear()}
	
	a.title(name="certifications")
		h1 Certifications
	
	ul
		each course in education.certifications
			li
				h3.title #{course.title}
				p
					span.academy #{course.academy} 
					span.year #{course.graduationDate.getFullYear()}